<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="pathForList" value="ListXML.xml"/>
    <add key="pathForSiteColumn" value="SiteColumn.xml"/>
    <add key="pathForContentTypes" value="ContentTypes.xml"/>
    <add key="pathForListItem" value="ListItem.xml"/>
    <add key="pathForFile" value="AddAppointments.aspx"/>
    <add key="basePath" value="https://xxxxxx.sharepoint.com/sites/yyyyy"/>
    <add key="username" value="xxxxx@yyyyy.onmicrosoft.com"/>
    <add key="password" value="aasdassasa!"/>
  </appSettings>
</configuration>