<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="pathForList" value="ListXML.xml"/>
    <add key="pathForSiteColumn" value="SiteColumn.xml"/>
    <add key="pathForContentTypes" value="ContentTypes.xml"/>
    <add key="pathForListItem" value="ListItem.xml"/>
    <add key="pathForFile" value="AddAppointments.aspx"/>
    <add key="basePath" value="https://jebosoft.sharepoint.com/sites/legalappt"/>
    <add key="username" value="tomjebo@jebosoft.onmicrosoft.com"/>
    <add key="password" value="Password01!"/>
  </appSettings>
</configuration>